# Ignore Python environment
env/
ENV/
.venv/
venv/
__pycache__/
*.py[cod]

# Ignore model files (too large)
model/*.keras

# Ignore VSCode or PyCharm files
.vscode/
.idea/

# Ignore system files
.DS_Store
Thumbs.db
